/*mise en forme de la zone de travail*/
.workspace-div{
    margin-left: 20px;
    margin-top: 10px;
}

/*mise en forme des liens du menu*/
.menu-link:hover{
    background-color: grey;
    cursor: pointer;
}
.label{
    color:#404449;
}

.text-input{
    border:none;
    border-bottom: solid 2px #7c828b;
}

.text-input:hover{
    border:none;
    box-shadow: none;
    border-bottom: solid 2px #351FBC;
}

.text-input:focus{
    border:none;
    box-shadow: none;
    border-bottom: solid 2px #351FBC;
}